VOLCENGINE_ACCESS_KEY_ID=your-ak
VOLCENGINE_SECRET_ACCESS_KEY=your-sk
VOLCENGINE_ACCOUNT_ID=your-account-id
# VOLCENGINE_SESSION_TOKEN=your-token-if-using-temporary-credentials
ARK_COLLECTION_NAME=your-collection-name
ARK_PROJECT=default
ARK_TOP_K=5
